---
layout: default
title: "Home"
---

{% if site.show_excerpts %}
  {% include home.html %}
{% else %}

  <article>
    <center><h1>I have been available for hire since 2020, and I am still available as of Aug 2024.</h1></center>
  </article>

  <article>
    <header><h1>Credit Risk Modelling</h1></header>
    <ul class="archive">
      <li>
        <a href="https://github.com/ProStepSky/CreditRisk">🇹🇭 Thai | PD, LGD, and EAD models</a>
      </li>
    </ul>
  </article>

  {% include archive.html title="Data Science Reports" %}
{% endif %}
